@import "../Styles/globals.scss";

.abouttext{
    color: $salmon;
    position: absolute;
  top: 90px;
  left: 260px;
    // text-align: left;
    // top: 50px;

}

// .div{
//     display: grid;
//     grid-template-columns: 1fr 1fr;

// }
.meretext{
    color: $text;
    text-align: left;
    font-size: 14px;

width: 614px;
height: 399px;
padding-left: 40px;

}

.star{
    width: 40%;
    filter:sepia(80%);
    // padding-bottom: 50px;
    padding-right: 40px;

    // display: grid;
    // grid-template-columns: 1fr 1fr;

}

.sectionthing{
    display: flex;
    align-items: center;
    // margin-top: 60px;
    // gap: 10px;
    // justify-content: center
    background-color: #f9f9f9f9;
    padding-bottom: 20px;
    padding-top: 250px;

}

// div{
//     background-color: pink;
//     padding-top: 30px;
// }

