@import "../Styles/globals.scss";

// .Fetching{
//     max-width: 1000px;
    .images{
        margin-top: auto;
        width: 100%;
        border-radius: 5px;
    }

    .postertitle {
        color: $text;
        font-size: 16px;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
    .posterthiny{
        margin: auto;
        // position:absolute;
        // margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

 
        .figur{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }     
    }
