@import "../Styles/globals.scss";

.navStyle {
    background-color: #FFFFFF;
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
  }

  li {
    float: right;
  }
  
  li a {
    // display: grid;
    grid-template-columns: 1fr;
    // text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-items: end;

  }