@import "../Styles/globals.scss";

.OnClickButton{
    margin-top: 1rem;
    padding: 8px 14px;
    background: green;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 3px 9px 12px -3px rgba(131, 130, 130, 0.36);
    color: orange;
    font-size: 16px;
}