@import "../Styles/globals.scss";

.OnClickButton{
    margin-top: 1rem;
    padding: 8px 14px;
    background: $Kiss;
    border: 1px solid $text;
    border-radius: 5px;
    box-shadow: 3px 9px 12px -3px rgba(131, 130, 130, 0.36);
    font-size: 16px;
}

.OnClickButton:hover{
    background-color: rgb(96, 161, 96);
    color: white;
}