@import "../Styles/globals.scss";

.postertext{
    color: rgb(216, 34, 10);
}

.headline{
    color:$salmon;
    font-size: 32px;
}

.plakater{
    max-width: 1000px;
    margin: auto;
    div{
        display: grid;
        grid-template-columns: 15% 1fr;
        gap: 1em;
        // text-align: left;
        // margin-right: 30px;
        
        .aside{
            width: 100%;
            h3, h4, h5, a, p {
                color: $salmon;
                font-size: 14px;
            }
         
            h3{
                font-size: 20px;
                color: $text;
            }
            h4{
                font-size: 14px;
                color: $text;
            }

            .pricearea{
                color: $text;
                float: left;
            }
            ul{
                margin-bottom: 1em;

                li{ 
                    list-style: none;
                    float: left;
                    // text-align: left;

                    a{
                        font-family: var(--header2p);

                    }
                    a:hover{
                        text-decoration: underline;
                    }

                }
            }
            div{
                display: block;
                grid-template-columns: (1fr 1fr);

                input{
                    margin: 8px;
                    width: 35%;
                    padding: 2px;
                    background-color: white;
                    color: black;
                    
                }
                p{
                    margin: 0 10px;
                }
            }
        }
        figure{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1em;
            img{
                width: 100%;
            }
            a, h5{
                color: $text;
                text-align: center;
            }

        }
    }
}