@import "../Styles/globals.scss";



.signupStyle {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    // margin: 0;
    max-width: 400px;
    padding-left: 41px;
    padding-bottom: 190px;

    // padding-top: 180px;

    span{
        color: rgb(255, 38, 0);
        font-weight: bold;
    }

    h3{
        color: $salmon;
        font-size: 14px;
    }

    label {

        color: $salmon;
        font-size: 14px;
        font-weight: bold;


        input {
            color: rgb(0, 0, 0);
            background-color: #FFFFFF;
            top: 204px;
left: 184px;
width: 407px;
height: 38px;
border-radius: 5px;


        }
    }

    textarea {
        color: black;
        resize: none;
        background-color: #FFFFFF;
        top: 339px;
left: 183px;
width: 407px;
height: 188px;
border-radius: 5px;
      
      }

      .send{
        background-color: $Kiss;
        width: 50px;
        color: $text;
        cursor: pointer;

      }

     
}

